.products{
    display: grid;
    gap: 25px;
    padding: 10px;
    margin: 20px 10px;
    grid-template-columns: repeat(4,1fr);
   align-content: center;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}